/** COLOR DEFINITIONS **/

/** NOTE: There are most likely off because I used DigitalColor Meter **/
$yellow: rgb(254, 219, 62);
$background-grey: rgb(242, 242, 242);
$advert-background-grey: rgb(255, 255, 255);
$advert-inner-borders-grey: rgb(253, 246, 226);
$advert-shadow: rgb(229, 229, 229);
$advert-name-blue: rgb(74, 170, 233);
$advert-color-grey: rgb(157, 161, 164);
$advert-openning-hours-green: rgb(127, 185, 44);
